[Unit]
Description=Fcitx 5 input method
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/fcitx5
Restart=always
RestartSec=2

[Install]
WantedBy=graphical-session.target
